h1 {
    text-align: center;
    padding-bottom: 0.5rem;
    font-size: 30px;
}

.boxChecked {
    text-decoration: line-through;
}

.listHeader{
    display: flex;
    justify-content: center;
}

.pointer {
    cursor: pointer;
}


ion-toolbar {
    --background: var(--ion-color-background);
}

ion-title {
    font-size: 15px;
}

ion-card-header {
    font-size: 20px;
}

// card
ion-card {
    --background: var(--ion-background-color);
    border-radius: 30px;
    margin: 1.5rem 1rem;
    box-shadow: 0px 3px 6px var(--ion-color-shadow);
    padding: 0;
}

// item
ion-list {
    background: var(--ion-background-color);
}

ion-item {
    --background: var(--ion-background-color);
    --border-radius: 64px;
    font-size: 20px;
    --border-color: var(--ion-color-outline);
    --border-width: 2px;
}

ion-item-option {
    border-radius: 0 64px 64px 0;
    margin: 10px;
}

ion-checkbox {
    --border-radius: 50px;
    width: 2rem;
    height: 2rem;
    --background: var(--ion-background-color);
}