<ion-header>
  <ion-toolbar>
    <ion-title>item-add</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col align-self center>
        <form [formGroup]="addItemForm" (ngSubmit)="onAddItem()" novalidate>
          <ion-item>
            <ion-label>Name: </ion-label>
            <ion-input formControlName="itemName" type="text" class="form-control"></ion-input>
          </ion-item>
          <ion-item>
            <ion-button type="submit">Add Item</ion-button>
            <ion-button href="/list-single">Cancel</ion-button>
          </ion-item>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

