<ion-header class="ion-no-border">
  <ion-toolbar [ngClass] ="check ? 'show' : 'hide'">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-app>
  <ion-tabs>
    <ion-tab-bar slot="bottom" [ngClass] ="check ? 'show' : 'hide'">
      <ion-tab-button tab="home">
        <ion-label>Home</ion-label>
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="timer">
        <ion-label>Focus timer</ion-label>
        <ion-icon name="timer-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="calendar">
        <ion-label>Calendar</ion-label>
        <ion-icon name="calendar-clear"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="planner">
        <ion-label>Planner</ion-label>
        <ion-icon name="list-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>