.boxChecked {
    text-decoration: line-through;
}

h1 {
    text-align: center;
    padding-bottom: 0.5rem;
}


ion-item {
    --background: var(--ion-background-color);
    --border-radius: 64px;
    margin: 0 1rem;
    font-size: 20px;
    --border-color: var(--ion-color-outline);
    --border-width: 2px;
    margin-top: 10px;
}

ion-item-option {
    border-radius: 0 64px 64px 0;
    margin: 10px;
}

ion-checkbox {
    --border-radius: 50px;
    width: 2rem;
    height: 2rem;
    --background: var(--ion-background-color);
}


// header 
ion-toolbar {
    --background: var(--ion-color-background);
}

ion-title {
    --color: var(--ion-color-category);
    font-size: 15px;
}
