<ion-app>
  <ion-header>
    <ion-toolbar>
      <!-- TODO: styling -->
      <ion-buttons slot="start">
        <!-- <ion-back-button defaultHref="home"> -->
          <ion-icon (click)="back()"name="arrow-back-outline"></ion-icon>
        <!-- </ion-back-button> -->
      </ion-buttons>
      <ion-title href="/home">TDL</ion-title>
      <ion-buttons slot="end">
        <ion-button icon-only (click)="onLogout()">
          <ion-icon name="log-out-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-router-outlet></ion-router-outlet>
</ion-app>