<ion-header>
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col align-self center>
        <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <ion-item>
            <ion-label for="username">Username</ion-label>
            <ion-input type="text" class="form-control" name="username" [(ngModel)]="form.username" required minlength="3"
            maxlength="20" #username="ngModel"></ion-input>
            <div class="alert-danger" *ngIf="username.errors && f.submitted">
              <div *ngIf="username.errors.required">Username is required</div>
              <div *ngIf="username.errors.minlength">
                Username must be at least 3 characters
              </div>
              <div *ngIf="username.errors.maxlength">
                Username must be at most 20 characters
              </div>
            </div>
          </ion-item>
          <ion-item>
            <ion-label for="email">Email</ion-label>
            <ion-input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email
            #email="ngModel"></ion-input>
            <div class="alert-danger" *ngIf="email.errors && f.submitted">
              <div *ngIf="email.errors.required">Email is required</div>
              <div *ngIf="email.errors.email">
                Email must be a valid email address
              </div>
            </div>
          </ion-item>
          <ion-item>
            <ion-label for="password">Password</ion-label>
            <ion-input type="password" class="form-control" name="password" [(ngModel)]="form.password" required
            minlength="6" #password="ngModel"></ion-input>
            <div class="alert-danger" *ngIf="password.errors && f.submitted">
              <div *ngIf="password.errors.required">Password is required</div>
              <div *ngIf="password.errors.minlength">
                Password must be at least 6 characters
              </div>
            </div>
          </ion-item>
          <ion-item>
            <ion-button (click)="onSubmit()">Sign up</ion-button>
            <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
              Signup failed!<br />{{ errorMessage }}
            </div>
  
          </ion-item>
        </form>

        <div class="alert alert-success" *ngIf="isSuccessful">
          Your registration is successful!
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
