<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title [routerLink]="['/home']"[ngStyle]="{'color': categoryColor}">{{ categoriesName }}</ion-title>

  <ion-card *ngFor="let list of listData" class="category-card" [ngStyle]="{'border': '1px solid' + categoryColor}">
    <ion-card-header [routerLink]="['/list-single']" (click)="currentList(list.id)">
      <ion-card-title>
        <!-- <ion-item> -->
          {{ list.name }}
          <!-- <ion-checkbox slot="end" [(ngModel)]="list.isDone"  (ngModelChange)="updateList(list.id, list.name, list.isDone, list.category, list.index)"></ion-checkbox> -->
        <!-- </ion-item> -->
      </ion-card-title>
    </ion-card-header>

    <ion-card-content *ngFor="let item of list.items">
      <ion-item>
        <ion-label [routerLink]="['/list-single']" (click)="currentList(list.id)">{{ item.name }}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>


  <ion-button [routerLink]="['/list-add']">Add a new list</ion-button>

</ion-content>