h1 {
    text-align: center;
    padding-bottom: 0.5rem;
}

.boxChecked {
    text-decoration: line-through;
}

.listHeader{
    display: flex;
    justify-content: center;
}

.pointer {
    cursor: pointer;
}
