<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button [routerLink]="['/list-add']">Add a new list</ion-button>

  <ion-title>{{ categoriesName }}</ion-title>
  <ion-list>
    <div *ngFor="let list of listData">
      <ion-titel [routerLink]="['/list-single']" (click)="currentList(list.id)">{{ list.name }}</ion-titel>
      <ion-list>
        <ion-item *ngFor="let item of list.items">
          <ion-label>{{ item.name }}</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-list>
</ion-content>