<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center">Add a list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col align-self center>
        <form [formGroup]="addListForm" (ngSubmit)="onAddList()" novalidate>
          <ion-item>
            <ion-label>Name: </ion-label>
            <ion-input formControlName="listName" type="text" class="form-control"></ion-input>
          </ion-item>
          <ion-item>
            <ion-button type="submit">Add List</ion-button>
            <ion-button routerLink="/home/${currentList.id}">Cancel</ion-button>
          </ion-item>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

