<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text>
    <h1 [routerLink]="['/home']">HOME</h1>
  </ion-text>

  <ion-card *ngFor="let category of categoryData" [ngStyle]="{'border': '1px solid' + category.color}">
    <ion-card-header [routerLink]="['/category-single']" (click)="currentCategory(category.id)">
      <ion-card-title [ngStyle]="{'color': category.color}">{{ category.name }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content *ngFor="let list of category.lists">
      <h2 [routerLink]="['/list-single']" (click)="currentList(list.id)">{{ list.name }}</h2>
    </ion-card-content>
  </ion-card>


</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button class="addBtn" [routerLink]="['/category-add']">Add a new category</ion-button>
  </ion-toolbar>
</ion-footer>