<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button [routerLink]="['/category-add']">Add a new category</ion-button>

  <ion-title [routerLink]="['/home']">HOME</ion-title>

  <ion-list>
    <div *ngFor="let category of categoryData">
      <ion-titel [routerLink]="['/category-single']" (click)="currentCategory(category.id)">{{ category.name }}
      </ion-titel>
      <ion-list>
        <ion-item *ngFor="let list of category.lists">
          <ion-label [routerLink]="['/list-single']" (click)="currentList(list.id)">{{ list.name }}</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-list>
</ion-content>