<ion-header>
  <ion-toolbar>
    <ion-title>Category</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col align-self center>
        <form [formGroup]="addCategoryForm" (ngSubmit)="onAddCategory()" (keydown.enter)="onAddCategory()" novalidate>
          <ion-item>
            <ion-label>Name: </ion-label>
            <ion-input formControlName="catName" type="text" class="form-control"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Pick a category color:</ion-label>
            <ion-input formControlName="catColor" class="ion-no-padding" id="catColor" type="color" value="#ff0000"></ion-input>
          </ion-item>
          <ion-item>
            <ion-button type="submit">Add Category</ion-button>
            <ion-button href="/home">Cancel</ion-button>
          </ion-item>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>