<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center">Add a category</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col align-self center class="dark">
        <form [formGroup]="addCategoryForm" (ngSubmit)="onAddCategory()" novalidate>
          <ion-item>
            <ion-label>Name: </ion-label>
            <ion-input formControlName="catName" type="text" class="form-control"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Pick a category color:</ion-label>
            <ion-select class="custom-options" formControlName="newColor" value="--ion-color-blue" okText="Confirm" cancelText="Dismiss" id="colorSelect">
              <ion-select-option class="red-option" value="var(--ion-color-red)">Red</ion-select-option>
              <ion-select-option value="var(--ion-color-orange)">Orange</ion-select-option>
              <ion-select-option value="var(--ion-color-yellow)">Yellow</ion-select-option>
              <ion-select-option value="var(--ion-color-green)">Green</ion-select-option>
              <ion-select-option value="var(--ion-color-cyan)">Cyan</ion-select-option>
              <ion-select-option value="var(--ion-color-blue)">Blue</ion-select-option>
              <ion-select-option value="var(--ion-color-pink)">Pink</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-button type="submit">Add Category</ion-button>
            <ion-button href="/home">Cancel</ion-button>
          </ion-item>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>