<ion-header>
  <ion-toolbar>
    <ion-title>TDL-Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" (keydown.enter)="onSubmit()" novalidate>
          <!-- <ion-item>
            <ion-label position="floating">Username: </ion-label>
            <ion-input formControlName="username" type="text" class="form-control"></ion-input>
          </ion-item> -->
      
          <ion-item lines="full">
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email" type="text"></ion-input>
          </ion-item>
      
          <ion-item lines="full">
            <ion-label position="floating">Password</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
      
          <ion-row>
            <ion-col>
              <ion-button type="submit" color="success">Login</ion-button>
            </ion-col>
          </ion-row>
        </form>
        <span class="already">Not a user?</span>

        <ion-button [routerLink]="['/register']" expand="block" color="danger">Sign up</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
