<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
          <ion-item>
            <ion-label>Username: </ion-label>
            <ion-input formControlName="username" type="text" class="form-control"></ion-input>
          </ion-item>
      
          <ion-item lines="full">
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email" type="text"></ion-input>
          </ion-item>
      
          <ion-item lines="full">
            <ion-label position="floating">Password</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
      
          <ion-row>
            <ion-col>
              <ion-button type="submit" color="success">Sign Up</ion-button>
            </ion-col>
          </ion-row>
        </form>
        <span class="already">Already a user?</span>

        <ion-button [routerLink]="['/login']" expand="block" color="danger">Login</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>