<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title>{{ listName }}</ion-title>

  <!-- <ion-reorder-group disabled="false"> -->
  <ion-item *ngFor="let item of listData">
    <ion-label [class.boxChecked]="item.isDone">{{ item.name }}</ion-label>
    <ion-checkbox slot="start" [(ngModel)]="item.isDone"
      (ngModelChange)="updateItem(item.id, item.name, item.isDone, item.list)"></ion-checkbox>
    <ion-button (click)="deleteItem(item.id)">Delete</ion-button>
    <!-- <ion-reorder slot="end"></ion-reorder> -->
  </ion-item>
  <!-- </ion-reorder-group> -->

  <ion-button [routerLink]="['/item-add']">Add a new item to {{ listName }}</ion-button>

</ion-content>