// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
	--ion-color-primary: #006b58;
	--ion-color-primary-rgb: 0,107,88;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #005e4d;
	--ion-color-primary-tint: #1a7a69;

	--ion-color-secondary: #4b635c;
	--ion-color-secondary-rgb: 75,99,92;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #425751;
	--ion-color-secondary-tint: #5d736c;

	--ion-color-tertiary: #426277;
	--ion-color-tertiary-rgb: 66,98,119;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #3a5669;
	--ion-color-tertiary-tint: #557285;

	--ion-color-success: #12a54d;
	--ion-color-success-rgb: 18,165,77;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 255,255,255;
	--ion-color-success-shade: #109144;
	--ion-color-success-tint: #2aae5f;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255,196,9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	--ion-color-danger: #ba1b1b;
	--ion-color-danger-rgb: 186,27,27;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #a41818;
	--ion-color-danger-tint: #c13232;

	--ion-color-medium: #6f7975;
	--ion-color-medium-rgb: 111,121,117;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #626a67;
	--ion-color-medium-tint: #7d8683;

	--ion-color-light: #fafdfa;
	--ion-color-light-rgb: 250,253,250;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #dcdfdc;
	--ion-color-light-tint: #fbfdfb;

  /** background white **/
  --ion-color-background-white: #fafafa;
	--ion-color-background-white-rgb: 250,250,250;
	--ion-color-background-white-contrast: #000000;
	--ion-color-background-white-contrast-rgb: 0,0,0;
	--ion-color-background-white-shade: #dcdcdc;
	--ion-color-background-white-tint: #fbfbfb;

  /** card white **/
  --ion-color-card-white: ##F0F0F0;
	--ion-color-card-white-rgb: 0,0,0;
	--ion-color-card-white-contrast: #ffffff;
	--ion-color-card-white-contrast-rgb: 255,255,255;
	--ion-color-card-white-shade: #000000;
	--ion-color-card-white-tint: #1a1a1a;

  --ion-background-color: #fafafa;
	--ion-background-color-rgb: 250,250,250;

	--ion-text-color: #333333;
	--ion-text-color-rgb: 51,51,51;

	--ion-color-step-50: #f0f0f0;
	--ion-color-step-100: #e6e6e6;
	--ion-color-step-150: #dcdcdc;
	--ion-color-step-200: #d2d2d2;
	--ion-color-step-250: #c8c8c8;
	--ion-color-step-300: #bebebe;
	--ion-color-step-350: #b4b4b4;
	--ion-color-step-400: #aaaaaa;
	--ion-color-step-450: #a0a0a0;
	--ion-color-step-500: #979797;
	--ion-color-step-550: #8d8d8d;
	--ion-color-step-600: #838383;
	--ion-color-step-650: #797979;
	--ion-color-step-700: #6f6f6f;
	--ion-color-step-750: #656565;
	--ion-color-step-800: #5b5b5b;
	--ion-color-step-850: #515151;
	--ion-color-step-900: #474747;
	--ion-color-step-950: #3d3d3d;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #5bdbbe;
    --ion-color-primary-rgb: 91,219,190;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0,0,0;
    --ion-color-primary-shade: #50c1a7;
    --ion-color-primary-tint: #6bdfc5;
  
    --ion-color-secondary: #b2ccc3;
    --ion-color-secondary-rgb: 178,204,195;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0,0,0;
    --ion-color-secondary-shade: #9db4ac;
    --ion-color-secondary-tint: #bad1c9;
  
    --ion-color-tertiary: #aacbe4;
    --ion-color-tertiary-rgb: 170,203,228;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0,0,0;
    --ion-color-tertiary-shade: #96b3c9;
    --ion-color-tertiary-tint: #b3d0e7;
  
    --ion-color-success: #12a54d;
    --ion-color-success-rgb: 18,165,77;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255,255,255;
    --ion-color-success-shade: #109144;
    --ion-color-success-tint: #2aae5f;
  
    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255,196,9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;
  
    --ion-color-danger: #ba1b1b;
    --ion-color-danger-rgb: 186,27,27;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #a41818;
    --ion-color-danger-tint: #c13232;
  
    --ion-color-medium: #89938f;
    --ion-color-medium-rgb: 137,147,143;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #79817e;
    --ion-color-medium-tint: #959e9a;
  
    --ion-color-light: #e0e3e0;
    --ion-color-light-rgb: 224,227,224;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0,0,0;
    --ion-color-light-shade: #c5c8c5;
    --ion-color-light-tint: #e3e6e3;

    --ion-background-color: #1e1e1e;
    --ion-background-color-rgb: 30,30,30;
  
    --ion-text-color: #fafafa;
    --ion-text-color-rgb: 250,250,250;
  
    --ion-color-step-50: #292929;
    --ion-color-step-100: #343434;
    --ion-color-step-150: #3f3f3f;
    --ion-color-step-200: #4a4a4a;
    --ion-color-step-250: #555555;
    --ion-color-step-300: #606060;
    --ion-color-step-350: #6b6b6b;
    --ion-color-step-400: #767676;
    --ion-color-step-450: #818181;
    --ion-color-step-500: #8c8c8c;
    --ion-color-step-550: #979797;
    --ion-color-step-600: #a2a2a2;
    --ion-color-step-650: #adadad;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c3c3c3;
    --ion-color-step-800: #cecece;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e4e4e4;
    --ion-color-step-950: #efefef;
    
    --ion-item-background: #1e1e1e;
    --ion-item-background: #333333;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

     --ion-card-background: #333333;

  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #1e1e1e;
    --ion-background-color-rgb: 30,30,30;
  
    --ion-text-color: #fafafa;
    --ion-text-color-rgb: 250,250,250;
  
    --ion-color-step-50: #292929;
    --ion-color-step-100: #343434;
    --ion-color-step-150: #3f3f3f;
    --ion-color-step-200: #4a4a4a;
    --ion-color-step-250: #555555;
    --ion-color-step-300: #606060;
    --ion-color-step-350: #6b6b6b;
    --ion-color-step-400: #767676;
    --ion-color-step-450: #818181;
    --ion-color-step-500: #8c8c8c;
    --ion-color-step-550: #979797;
    --ion-color-step-600: #a2a2a2;
    --ion-color-step-650: #adadad;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c3c3c3;
    --ion-color-step-800: #cecece;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e4e4e4;
    --ion-color-step-950: #efefef;
    
    --ion-item-background: #1e1e1e;
    --ion-item-background: #333333;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

     --ion-card-background: #333333;

  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #1e1e1e;
    --ion-background-color-rgb: 30,30,30;
  
    --ion-text-color: #fafafa;
    --ion-text-color-rgb: 250,250,250;
  
    --ion-color-step-50: #292929;
    --ion-color-step-100: #343434;
    --ion-color-step-150: #3f3f3f;
    --ion-color-step-200: #4a4a4a;
    --ion-color-step-250: #555555;
    --ion-color-step-300: #606060;
    --ion-color-step-350: #6b6b6b;
    --ion-color-step-400: #767676;
    --ion-color-step-450: #818181;
    --ion-color-step-500: #8c8c8c;
    --ion-color-step-550: #979797;
    --ion-color-step-600: #a2a2a2;
    --ion-color-step-650: #adadad;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c3c3c3;
    --ion-color-step-800: #cecece;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e4e4e4;
    --ion-color-step-950: #efefef;

    --ion-item-background: #1e1e1e;
    --ion-item-background: #333333;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

     --ion-card-background: #333333;
  }
}